@model InleveropdrGijs.Models.Account

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.klantNaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.klantNaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AantalVrienden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AantalVrienden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Punten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Punten)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
